@media only screen and (min-width:  768px)
	.btn-menu
		display none
	.main 
		width 60.50%
		padding 3em
	.menu 
		bottom 4em
		left 2.5em
		right auto
		background none
		display block
	.video
		width 350px
		iframe
			height 205px
	.footer
		position fixed
		height 2em
		
		
@media only screen and (min-width:  1024px)
	.video
		width 500px
		iframe
			height 281px 
   