@media only screen and (min-width:  768px)
	.btn-menu
		display none
	.reservation
		margin-right 3em

	.main 
		width 60.50%
		padding 3em
	.menu 
		bottom 4em
		left 2.5em
		right auto
		background none
		display block
	.btn-home
		display none
	.video
		width 350px
		iframe
			height 205px
	.footer
		position fixed
		height 2em
		
	.copyright
		float left
		margin-left 10px
	.redes
		float right
		margin-right 10px
	.page-home
		margin-top 12em
		h1
			font-size 4em
		h3 
			margin-top: -28px;
			margin-bottom: 1em;	
		
@media only screen and (min-width:  1024px)
	.video
		width 500px
		iframe
			height 281px 
   